setuptools<82
python-dotenv==1.0.1
pandas==2.2.3
loguru==0.7.3
PyYAML==6.0.2
soundfile==0.13.1
music-tag==0.4.3
yandex-music==2.2.0
transformers==4.51.3
praatio==6.2.0
pyarrow>=14.0.1
torchaudio==2.8.0
torch==2.8.0
torchcodec==0.7
pyannote.audio>=4.0.0
librosa
distillmos
pytest>=7.0.0
black>=24.0.0
flake8>=6.0.0
coloredlogs
flatbuffers
numpy
packaging
protobuf
sympy
pyloudnorm
silero-vad
git+https://github.com/Den4ikAI/ruaccent.git
git+https://github.com/mtuciru/TryIPaG2P.git
git+https://github.com/Toloka/crowd-kit.git
git+https://github.com/NikiPshg/NISQA-b.git
git+https://github.com/NikiPshg/musicdetection