aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
apturl==0.5.2
async-timeout==5.0.1
attrs==26.1.0
audioread==3.1.0
black==26.3.1
blinker==1.4
braceexpand==0.1.7
Brlapi==0.8.3
certifi==2026.4.22
cffi==2.0.0
chardet==4.0.0
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.4
coloredlogs==15.0.1
command-not-found==0.3
contourpy==1.3.2
crowd-kit @ git+https://github.com/Toloka/crowd-kit.git@c6717c40560cd8e675fc1dda2ab5461295657d07
cryptography==3.4.8
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.2.18
decorator==5.2.1
defer==1.0.6
distillmos==0.9.1
distro==1.7.0
distro-info==1.1+ubuntu0.2
exceptiongroup==1.3.1
filelock==3.29.0
flake8==7.3.0
flatbuffers==25.12.19
fonttools==4.63.0
frozenlist==1.8.0
fsspec==2026.4.0
hf-xet==1.5.0
httplib2==0.20.2
huggingface_hub==0.36.2
humanfriendly==10.0
idna==3.15
importlib-metadata==4.6.4
iniconfig==2.3.0
jeepney==0.7.1
Jinja2==3.1.6
joblib==1.5.3
keyring==23.5.0
kiwisolver==1.5.0
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-loader==0.5
librosa==0.11.0
llvmlite==0.47.0
loguru==0.7.3
louis==3.20.0
macaroonbakery==1.3.1
MarkupSafe==3.0.3
matplotlib==3.10.9
mccabe==0.7.0
more-itertools==8.10.0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.1
music-tag==0.4.3
musicdetection @ git+https://github.com/NikiPshg/musicdetection@de71cb7e3bf4af2942d725c772e4129074b30e6a
mutagen==1.47.0
mypy_extensions==1.1.0
netifaces==0.11.0
networkx==3.4.2
nltk==3.9.4
numba==0.65.1
numpy==2.2.6
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
oauthlib==3.2.0
olefile==0.46
onnxruntime==1.23.2
packaging==26.2
pandas==2.2.3
pathspec==1.1.1
pexpect==4.8.0
pillow==12.2.0
platformdirs==4.9.6
pluggy==1.6.0
pooch==1.9.0
praatio==6.2.0
propcache==0.5.2
protobuf==7.34.1
ptyprocess==0.7.0
pyarrow==24.0.0
pycairo==1.20.1
pycodestyle==2.14.0
pycparser==3.0
pycups==2.0.1
pyflakes==3.4.0
Pygments==2.20.0
PyGObject==3.42.1
PyJWT==2.3.0
pyloudnorm==0.2.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==3.3.2
pyRFC3339==1.1
PySocks==1.7.1
pytest==9.0.3
python-apt==2.4.0+ubuntu4.1
python-crfsuite==0.9.12
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.1
pytokens==0.4.1
pytz==2026.2
pyxdg==0.27
PyYAML==6.0.2
razdel==0.5.0
regex==2026.5.9
reportlab==3.6.8
requests==2.34.2
ruaccent @ git+https://github.com/NikiPshg/ruaccent.git@568bcee7c6595ae38099c4cd5413a6a2b4098762
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.15.3
screen-resolution-extra==0.0.0
SecretStorage==3.3.1
sentencepiece==0.2.1
six==1.17.0
soundfile==0.13.1
soxr==1.1.0
ssh-import-id==5.11
sympy==1.14.0
systemd-python==234
threadpoolctl==3.6.0
tokenizers==0.21.4
tomli==2.4.1
torch==2.8.0
torchaudio==2.8.0
torchcodec==0.7.0
tqdm==4.67.3
transformers==4.51.3
triton==3.4.0
TryIpaRu @ git+https://github.com/mtuciru/TryIPaG2P.git@4fd8cfc15663e43d42129415fa6198cb40bd3379
typing_extensions==4.15.0
tzdata==2026.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.7.0
wadllib==1.3.6
webdataset==1.0.2
xdg==5
xkit==0.0.0
xls_r_sqa==0.1.0
yandex-music==2.2.0
yarl==1.23.0
zipp==1.0.0
