pyannote.audio==3.3.2 
python-dotenv==1.0.1
pandas==2.2.3
numpy<2
loguru==0.7.3
PyYAML==6.0.2
soundfile==0.13.1
git+https://github.com/wenet-e2e/wespeaker.git
git+https://github.com/snakers4/silero-vad.git
git+https://github.com/Den4ikAI/ruaccent.git